.custom-tooltip {
  color: #49474e;
  background-color: #d3d6da;
  border-radius: 0.75rem;
  box-shadow: 2px 2px 2px rgba(135, 136, 136, 0.945);
  font-weight: 600;
}

.custom-tooltip_dark {
  color: #abaaa9;
  background-color: #3a3a3c;
  border-radius: 0.75rem;
  box-shadow: 2px 2px 2px rgba(25, 25, 25, 0.56);
  font-weight: 600;
}

@media (max-width: 768px) {
  .custom-tooltip {
    font-size: 12px;
    font-weight: 500;
  }
  .custom-tooltip_dark {
    font-size: 12px;
    font-weight: 500;
  }
}
