@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .button-key {
    @apply flex h-[48px] cursor-pointer items-center justify-center rounded border-b text-base font-bold uppercase active:scale-95 active:border-none dark:border-none md:text-xl;
  }
  .input-autofill {
    @apply autofill:bg-transparent autofill:text-w-green;
  }
  .label-autofill {
    @apply autofill:text-w-green;
  }
  .loader-circle-before {
    @apply before:absolute before:top-0 before:left-0 before:block before:h-[70px] before:w-[70px] before:animate-loaderCircleScaleBefore before:rounded-full before:border-4 before:border-w-grey-tone-2 dark:before:border-w-grey-tone-3;
  }
  .loader-circle-after {
    @apply after:absolute after:top-0 after:left-0 after:block after:h-[70px] after:w-[70px] after:animate-loaderCircleScaleAfter after:rounded-full after:border-4 after:border-w-grey-tone-2 after:opacity-0 dark:after:border-w-grey-tone-3;
  }

  .signin-active {
    @apply border-w-green dark:border-w-green-dark;
  }
  .signin-inactive {
    @apply border-transparent;
  }
  .signup-active {
    @apply border-w-blue dark:border-w-blue-dark;
  }
  .signup-inactive {
    @apply border-transparent;
  }
}
