@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Philosopher', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@layer base {
  :root {
    --color-tone-1: #000000;
    --color-tone-2: #787c7e;
    --color-tone-4: #d3d6da;
    --color-tone-7: #ffffff;
  }
}
@layer components {
  .header {
    @apply h-10 sm:h-[65px] px-4 md:px-5 flex flex-row items-center justify-start flex-nowrap text-[color:var(--color-tone-1)] border-b border-[color:var(--color-tone-4)] box-content
  }
  .header__title {
    @apply grow-[2] font-bold text-[28px] md:text-[32px] lg:text-[36px] tracking-[0.01em] text-left md:text-center left-0 right-0 pointer-events-none relative box-border leading-none
  }
  .letter {
    @apply w-full inline-flex justify-center items-center text-[2rem] leading-8 font-bold align-middle box-border uppercase select-none border-2 border-[#d3d6da];
  }
  .letter-white {
    @apply bg-[#ffffff] border-2 border-[#878a8c] text-[#000000];
  }
  .letter-grey {
    @apply bg-[#787c7e] border-0 text-[#ffffff];
  }
  .letter-green {
    @apply bg-[#6aaa64] border-0 text-[#ffffff];
  }
  .letter-yellow {
    @apply bg-[#c9b458] border-0 text-[#ffffff];
  } 
  .button-key {
    @apply font-bold border-0 p-0 mt-0 mr-1.5 mb-0 ml-0 h-[58px] rounded cursor-pointer select-none  flex-1 flex justify-center items-center last:mr-0;
  }
  .icon {
    @apply z-50 inline-block w-7 h-7 rounded disabled:pointer-events-none disabled:opacity-30 hover:rotate-[360deg] transition duration-500 ease-in-out;
  }
  .modal {
    @apply fixed w-full h-full min-w-[414px] bg-white/50 top-0 left-0 flex justify-center items-center opacity-0 pointer-events-none transition-opacity duration-500
  }
  .modal_active {
    @apply opacity-100 transition-opacity duration-500 pointer-events-auto
  }
  .modal__component {
    @apply relative w-11/12 max-w-[512px] p-5 rounded-xl bg-white shadow-modal
  }
  .modal__component_active {
    @apply border border-[#f6f7f8] animate-modalOpen
  }
  .modal__component_inactive {
    @apply border border-[#f6f7f8] animate-modalClosed
  }
}