@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-quartz)
  }
}
@layer base {
  :root {
    --color-tone-1: #000000;
    --color-tone-2: #787c7e;
    --color-tone-3: #878a8c;
    --color-tone-4: #d3d6da;
    --color-tone-7: #ffffff;

    --color-quartz: #49474E;
    --color-border: #878a8c;
    --color-border-dark: #515254
  }
}
@layer components {
  .letter {
    @apply border-2 border-wordleBorderLight inline-flex justify-center items-center;
  }
  .letter-white {
    @apply border-wordleGray;
  }
  .letter-green {
    @apply border-0 text-white bg-wordleGreen;
  }
  .letter-yellow {
    @apply border-0 text-white bg-wordleYellow;
  }
  .letter-grey {
    @apply border-0 text-white bg-wordleGray;
  }
  .button-key {
    @apply
    h-[48px] mr-1.5 p-0 rounded border-b border-[color:var(--color-border)] flex flex-1 justify-center items-center font-bold uppercase cursor-pointer select-none last:mr-0 active:border-0 active:border-t
  }
  .icon {
    @apply inline-block w-7 h-7 rounded disabled:pointer-events-none disabled:opacity-30 hover:rotate-[360deg] transition duration-500 ease-in-out;
  }
  .modal {
    @apply fixed w-full h-full min-w-[414px] bg-white/60 top-0 left-0 flex justify-center opacity-0 pointer-events-none transition-opacity duration-500 z-50
  }
  .modal_active {
    @apply opacity-100 transition-opacity duration-500 pointer-events-auto
  }
  .modal__component {
    @apply relative w-fit max-w-[512px] p-4 rounded-xl bg-white shadow-modal
  }
  .modal__component_active {
    @apply border border-[#f6f7f8] animate-modalOpen
  }
  .modal__component_inactive {
    @apply border border-[#f6f7f8] animate-modalClosed
  }
}